{% extends "route_clients.html" %} 
{% block breadcrumbs %}
    {{ block.super }} <li class="breadcrumb-item active" aria-current="page"><a href="{{ client.get_absolute_url}}">{{client.name|truncatechars:10}}</a></li>
{% endblock %} 
{% block contedor %}
<header>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        {% if query %}
            <h1 >Resultados para: {{ query|escape }}</h1>
        {% else %}
            <h1 class="display-4">{{client.name}}</h1>
         {% endif %} 
      </div>
    </div>
</header>
<ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Perfil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#order-client" role="tab" aria-controls="pills-home" aria-selected="true">Ordenes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#price_list" role="tab" aria-controls="pills-home" aria-selected="true">Lista de Precios</a>
    </li>    
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade" id="order-client" role="tabpanel" aria-labelledby="pills-home-tab">
        <nav class="navbar navbar-light bg-light">
            <a href=".">Generar venta</a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Orden" aria-label="Orden" name ="q" value="{{ query|escape }}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </nav>   
        <div class="row">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nota</th>
                            <th scope="col">Vendedor</th>
                            <th scope="col">Adeudo</th>
                            <th scope="col">Abono</th>
                            <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if results %}
                            {% for orders in results  %}
                                <tr>
                                    <th scope="row"><a href=""></a></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            {% for orders in orders  %}
                                <tr>
                                    <th scope="row"><a href="">{{ orders.id }}</a></th>
                                    <td>{{ orders.employee }}</td>
                                    <td>{{ orders.balance }}</td>
                                    <td>{{ orders.deposit_balance_set. }}</td>
                                    <td>{{ orders.createdAt }} </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>                
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="{% url "person:update_client" slug=slug %}"><i class="material-icons" data-toggle="tooltip" data-placement="top" title="Editar">edit</i></a>
            </li>
        </ul>
        <div class="row">
            <div class="col">                
                <div class="row">
                    <div class="col list-items">
                        <i class="material-icons" data-toggle="tooltip" data-placement="top" title="Representante">person</i> {{client.manager}}
                    </div>  
                    <div class="col list-items">
                        <i class="material-icons" data-toggle="tooltip" data-placement="top" title="Ruta">local_shipping</i> {{client.route}}
                    </div>
                </div>               
                <div class="row">
                    <div class="col list-items" ><i class="material-icons" data-toggle="tooltip" data-placement="top" title="R.F.C.">business</i> {{client.rfc}}</div>
                </div>
                <div class="row">
                    <div class="col list-items">
                        <i class="material-icons" data-toggle="tooltip" data-placement="top" title="Vendedor Asignado">face</i> {{client.employee}}
                    </div>
                    <div class="col list-items">
                        <i class="material-icons" data-toggle="tooltip" data-placement="top" title="Día de visita">event</i> {{client.call_visit}}    
                    </div>
                    <div class="col list-items">
                        <i class="material-icons" data-toggle="tooltip" data-placement="top" title="Condiciones de pago">payment</i> {{client.get_billing_condition_display}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 list-items"><i class="material-icons" data-toggle="tooltip" data-placement="top" title="Telefono 1">phone</i> {{client.tel_1}}</div>
                    <div class="col-4 list-items"><i class="material-icons" data-toggle="tooltip" data-placement="top" title="Telefono 2">phone</i> {{client.tel_2}}</div>
                    <div class="col list-items"><i class="material-icons"  data-toggle="tooltip" data-placement="top" title="Celular">smartphone</i> {{client.cel}}</div>
                </div>
                <div class="row">
                    <div class="col list-items">
                        <i class="material-icons" data-toggle="tooltip" data-placement="top" title="Correo eléctronico">email</i> {{client.email}}    
                    </div>                        
                </div>                
            </div>
            <div class="col-4">
                <div class="text-center">
                    <figure class="figure">
                        <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_165f8558c09%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_165f8558c09%22%3E%3Crect%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2274.4296875%22%20y%3D%22104.5%22%3EFoto Cliente%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" class="figure-img img-fluid rounded" alt="{{client.name}}">
                        <figcaption class="figure-caption"><i class="material-icons" data-toggle="tooltip" data-placement="top" title="{{client.route}}">local_shipping</i></figcaption>
                    </figure>
                </div>
            </div>            
        </div>
        <div class="row mt-3">
            <div class="col">
                <h3>Direcciones</h3>                
            </div>
        </div>
        <div class="row">                            
            {% for address in address %}
                <div class="col">
                    <div class="card bg-light mb-3 mt-3" style="max-width: 18rem;">
                      <div class="card-header">{{address.name}} <a class="card-link float-right" href="{% url "address:update_address" id=address.id %}"><i class="material-icons" data-toggle="tooltip" data-placement="top" title="Editar">edit_location</i></a></div>
                      <div class="card-body">
                        <h5 class="card-title">Light card title</h5>
                        <p class="card-text"><i class="material-icons align-text-bottom">location_on</i>{{address.street}}, C.P.: {{address.zip_code}}, {{address.location.name}}, {{address.location.municipality.name}}, {{address.location.municipality.state}}.</p>                        
                      </div>
                    </div>
                </div>
            {% endfor %}                         
        </div>            
    </div>
</div>
    <div class="tab-pane fade" id="price_list" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio</th>
                        </tr>
                    </thead>
                    <tbody>                    
                        <tr>
                            <td scope="row"></a></td>
                            <td></td>
                        </tr>                       
                    </tbody>                
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block adicional-scripts %}
<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  }); 
</script>
{% endblock %}