{% extends "base.html" %} 
{% block contedor %}
<header>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        {% if query %}
          <h1 >Resultados para: {{ query|escape }}</h1>
        {% else %}
          <h1 class="display-4">{{client.name}}</h1>
         {% endif %} 
      </div>
    </div>
</header>
<nav class="navbar navbar-light bg-light">
  <a href=".">Generar venta</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Orden" aria-label="Orden" name ="q" value="{{ query|escape }}">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
  </form>
</nav>
<ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#order-client" role="tab" aria-controls="pills-home" aria-selected="true">Ordenes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Perfil</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="order-client" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nota</th>
                            <th scope="col">Vendedor</th>
                            <th scope="col">Adeudo</th>
                            <th scope="col">Abono</th>
                            <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if results %}
                            {% for orders in results  %}
                                <tr>
                                    <th scope="row"><a href=""></a></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            {% for orders in orders  %}
                                <tr>
                                    <th scope="row"><a href="">{{ orders.id }}</a></th>
                                    <td>{{ orders.employee }}</td>
                                    <td>{{ orders.balance }}</td>
                                    <td>{{ orders.deposit_balance_set. }}</td>
                                    <td>{{ orders.createdAt }} </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>                
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        {{client.tel_1}}
    </div>
</div>

{% endblock %}