{% extends "client.html" %} 
{% block breadcrumbs %}
    {{ block.super }} <li class="breadcrumb-item active" aria-current="page">Editar dirección</li>
{% endblock %} 
{% block contedor %}
<header>
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h1 class="display-4">{{ page_title }}</h1>
	  </div>
	</div>
</header>
<div class="row align-items-center">
	<div class="col"></div>
	<div class="col-8">
		<form method="post">		    
		    {% csrf_token %}		    
		    <h3>Dirección</h3>
		    <div class="form-row ">
		    	<input type="hidden" name="client" id="id_client" value="{{address.client.id}}">	
		    	<div class="form-group col-6">
		    		<label for="id_name">Nombre:</label>
		    		<input type="text" class="form-control" name="name" maxlength="50" placeholder="Dirección principal" id="id_name" value="{{address.name}}">		    		
		    	</div>
		    	<div class="form-group col-6">
			    	<label for="id_street">Calle:</label>
					<input type="text" class="form-control" name="street" maxlength="50" placeholder="Sor Juna Ines de la Cruz, #266" id="id_street" value="{{address.street}}">
			    </div>
		    </div>
		    
		    <div class="form-row">			    
			    <div class="form-group col-2">
			    	<label for="id_zip_code">C.P.:</label>
					<input type="text" class="form-control" name="zip_code" maxlength="50" placeholder="59000" pattern="[0-9]{5}" id="id_zip_code" value="{{address.zip_code}}">
			    </div>
			    <div class="form-group col ui-widget">
			    	<label for="id_location_name">Localidad:</label>
			    	<input type="text" class="form-control" name="location_name" maxlength="50" id="id_location_name" value="{{address.location}}">
			    	<input type="hidden" class="form-control" name="location" maxlength="50" id="id_location" value="{{address.location.id}}">
			    </div>
			    <div class="form-group col-2">
			    	<label for="id_lat">Latitud:</label>
					<input type="text" class="form-control" name="lat" maxlength="50" id="id_lat" value="{{address.lat}}">
			    </div>
			    <div class="form-group col-2">
			    	<label for="id_lon">Longuitud:</label>
					<input type="text" class="form-control" name="lon" maxlength="50" id="id_lon" value="{{address.lon}}">
			    </div>
			</div>
			<div class="form-group">	    	
	    		<input type="submit" class="btn btn-outline-primary btn-lg btn-block" value="Agregar">
	    	</div>
		</form>		  
	</div>
	<div class="col"></div>
</div>
{% endblock %}

{% block adicional-scripts %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
	var slug = function(str) {
	    var $slug = '';
	    var trimmed = $.trim(str);
	    $slug = trimmed.replace(/[^a-z0-9-]/gi, '-').
	    replace(/-+/g, '-').
	    replace(/^-|-$/g, '');
	    return $slug.toLowerCase();
	}

	$("#id_name").keyup(function(){
		$('#id_slug').val(slug($('#id_name').val()));
	});
</script>
<script type="text/javascript">
	$(function() {
		$.widget("ui.autocomplete", $.ui.autocomplete, {

		  _renderMenu: function(ul, items) {
		    var that = this;
		    ul.attr("class", "nav nav-pills nav-stacked  bs-autocomplete-menu");
		    $.each(items, function(index, item) {
		      that._renderItemData(ul, item);
		    });
		  },

		  _resizeMenu: function() {
		    var ul = this.menu.element;
		    ul.outerWidth(Math.min(
		      // Firefox wraps long text (possibly a rounding bug)
		      // so we add 1px to avoid the wrapping (#7513)
		      ul.width("").outerWidth() + 1,
		      this.element.outerWidth()
		    ));
		  }

		});
	});	
</script>
<script type="text/javascript">
$(document).ready(function() {
	$("#id_location_name").autocomplete({
		minLength: 2,
        source:'{% url "address:autocomplate_location" %}',        
        focus: function( event, ui ) {
        	$("#id_location_name").val(ui.item.label);
        	return false;
        },
        select: function( event, ui ) {
            $("#id_location_name").val(ui.item.label);
            $("#id_location").val(ui.item.value);
            return false;
        }
    });
});	
</script>

{% endblock %}