{% extends "base.html" %} 
{% block breadcrumbs %}
    {{ block.super }}<li class="breadcrumb-item active" aria-current="page"><a href="{% url 'cedis:cedis' %}">CEDIS</a></li>
{% endblock %}
{% block contedor %}
<header>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        {% if query %}
          <h1 >Resultados para: {{ query|escape }}</h1>
        {% else %}
          <h1 class="display-4">CEDIS Campo Alegre / Venecia</h1>
         {% endif %} 
      </div>
    </div>
</header>
<nav class="navbar navbar-light bg-light">
  <a href="{% url "cedis:new" %}">Agregar CEDIS</a>
  <form class="form-inline">
    <div class="input-group mb-3">
      <input type="search" class="form-control" placeholder="CEDIS" aria-label="CEDIS"  name ="q" value="{{ query|escape }}" aria-describedby="button-addon2">
      <div class="input-group-append">        
        <button class="input-group-text btn-outline-primary my-2 my-sm-0" type="submit" id="button-addon2"><i class="material-icons">search</i></button>        
      </div>
    </div>     
  </form>
</nav>
<div class="row">
    {% if results %}
      {% for cedis in results %}
      <div class="col-3 mb-3">
          <a href="{{ cedis.get_absolute_url}} "><div class="cedis">
              <h3>
                  {{ cedis.name }} 
              </h3>   
          </div></a>               
      </div>
      {% endfor %}
    {% else %}
      {% for cedis in cedis %}
      <div class="col-3 mb-3">
          <a href="{{ cedis.get_absolute_url}} "><div class="cedis">
              <h3>
                  {{ cedis.name }} 
              </h3>   
          </div></a>               
      </div>
      {% endfor %}
    {% endif %}
</div>
{% endblock %}