{% extends "base.html" %} 
{% block contedor %}
<header>
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h1 class="display-4">Agregar ruta</h1>
	  </div>
	</div>
</header>
<div class="row align-items-center">
	<div class="col"></div>
	<div class="col-6">
		<form method="post">		    
		    {% csrf_token %}
		    <div class="form-group">
		    	<label for="id_cedis_name">CEDIS:</label>
				<input type="text" class="form-control" name="cedis_name" maxlength="140" required="" id="id_cedis_name" value="{{cedis.name}}" readonly="readonly">
				<input type="hidden" class="form-control" name="cedis" maxlength="140" required="" id="id_cedis" value="{{cedis.id}}">
		    </div>		        	
		    <div class="form-group">
		    	<label for="id_name">Nombre:</label>
				<input type="text" class="form-control" name="name" maxlength="140" required="" id="id_name">
		    </div>
		    <div class="form-group">
		    	<label for="id_slug">Slug:</label>
		    	<input type="text" class="form-control" name="slug" maxlength="50" id="id_slug" readonly="readonly">		    		
		    </div>
		    <div class="form-group">
		    	<div class="btn-group-toggle" data-toggle="buttons">
		    		<label for="id_isActive" class="btn btn-outline-primary active">
		    			<input type="checkbox" name="isActive" id="id_isActive" autocomplete="off" checked="">Activo
		    		</label>			    		
		    	</div>
		    </div>		    	
	    	<input type="submit" class="btn btn-outline-primary btn-lg btn-block" value="Agregar">
		</form>		  
	</div>
	<div class="col"></div>
</div>
{% endblock %}

{% block adicional-scripts %}
<script type="text/javascript">
var slug = function(str) {
    var $slug = '';
    var trimmed = $.trim(str);
    $slug = trimmed.replace(/[^a-z0-9-]/gi, '-').
    replace(/-+/g, '-').
    replace(/^-|-$/g, '');
    return $slug.toLowerCase();
}

$("#id_name").keyup(function(){
	$('#id_slug').val(slug($('#id_name').val()));
});
</script>
{% endblock %}